.footer {
  margin-top: 42px;
  text-align: center;
  height: 355px;
  background: $color-black;
  padding-top: 66px;

  @include tablet-screen{
    margin-top: 0;
  }

  &__title {
    color: $color-off-white;
  }

  &__text {
    width: 300px;
    margin: 8px auto 0;
    @include fonts-font-size;
    font-size: 12px;
    line-height: 20px;

    span {
      display: none;
      @include tablet-screen{
        display: inline-block;
      }
    }

    @include tablet-screen{
      width: 684px;
      font-size: 16px;
      line-height: 28px;
      margin-top: 22px;
    }
  }

  &__contact-info{
    width: 200px;
    margin: 0 auto;

    @include fonts-font-size;
    font-size:14px;
    line-height: 24px;

    @include tablet-screen{
      width: 613px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  img {
    margin: 26px 0 25px;
  }
}