ul{
  list-style-type: none;
}

a{
  text-decoration: none
}

h2 {
  @include title-fonts;
}

.container-content {
  padding: 25px;
  margin: 0 auto;
  position: relative;

  @include desktop-screen {
    width: 1170px;
    padding: 0;
  }
}