header {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 38px;

  @include tablet-screen {
    margin-bottom: 56px;
  }
  @include desktop-screen {
    margin-bottom: 66px;
  }

  .container-but {
    cursor: pointer;
    width: 44px;
    height: 37px;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 23px;

    @include tablet-screen {
      display: none;
    }
  }

  .bar1, .bar2, .bar3 {
    width: 17px;
    height: 2px;
    background: $color-white;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-4px, 3px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-2px, -2px);
  }

  .dropdown-content {
    position: absolute;
    right: 25px;
    top: 62px;
    z-index: 1;
    width: 182px;
    background: $color-light-gray;

    @include tablet-screen {
      display: flex;
      gap: 34px;
      right: 0;
      top: 0;
      margin: 30px auto 43px;
      position: relative;
      width: auto;
      background: none;
    }

    @include desktop-screen {
      gap: 68px;
      margin-bottom: 51px;
    }

    .green-link {
      color: $color-steel-blue;
    }

    a {
      @include navbar-fonts;
      line-height: 30px;

      @include tablet-screen {
        padding-left: 0;
        line-height: 22px;
      }
    }

    @include responsiveMixin {
      &__item:hover {
        background-color: $color-gainsboro;
        flex-shrink: 0;
      }

      &__text{
        padding-left: 12px;
      }
    }
  }

  .close {
    display: none;
    @include tablet-screen {
      display: flex;
    }
  }

  img {
    max-width: 1170px;
    width: 100%;
    height: auto;
  }
}