.container {
  margin: 0 auto 81px;

  @include tablet-screen {
    margin-bottom: 60px;
  }
  @include desktop-screen {
    margin-bottom: 69px;
  }

  &__title {
    margin-bottom: 23px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 232px);
  grid-template-rows: repeat(4, 196px);

  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin: 0 auto;

  @include tablet-screen {
    grid-template-columns: repeat(1, 555px);
    grid-template-rows: repeat(4, 140px);
  }
  @include desktop-screen {
    grid-template-columns: repeat(2, 555px);
    grid-template-rows: repeat(2, 140px);
    grid-column-gap: 55px;
    grid-row-gap: 32px;
  }

  img {
    width: 160px;
    height: 140px;

    @include tablet-screen {
      float: left;
      margin-right: 20px;
    }
  }
}

.grid-item {
  &__title {
    margin-top: 10px;
    @include title-fonts;
    line-height: 30px;
    white-space: nowrap;
  }

  &__comments, a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: $color-gray;
    @include tablet-screen {
      font-size: 12px;
    }
  }

  &__text {
    display: none;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: $color-dark-gray;
    white-space: nowrap;

    @include tablet-screen {
      display: block;
    }
  }
}

section {
  @include tablet-screen {
    background: rgba(0, 0, 0, 0.03);
    mix-blend-mode: normal;
  }
}

.section-container {
  width: 301px;
  margin: 0 auto;

  @media (min-width: 350px) {
    margin: 0;
    padding: 0 25px;
  }

  @include tablet-screen {
    margin: 0 auto;
    padding: 47px 0;
    width: 75%;
    min-width: 768px;
  }

  @include desktop-screen {
    width: 1170px;
  }
}

.content-title {
  display: flex;
  justify-content: space-between;

  &__title {
    margin-bottom: 13px;
    @include tablet-screen {
      margin-bottom: 35px;
    }
    @include desktop-screen {
      margin-bottom: 24px;
    }
  }

  &__text {
    display: none;
    @include fonts-font-size-13;
    line-height: 22px;

    @include tablet-screen {
      display: block;
    }
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;

  img {
    display: none;
  }
}

.flex-container img:first-child {
  display: block;
  width: 301px;
  height: 301px;
}

@include tablet-screen {
  .flex-container img:nth-child(-n+3) {
    display: block;
    width: 249px;
    height: 249px;
  }
}

@include desktop-screen {
  .flex-container img:nth-child(-n+4) {
    display: block;
    width: 285px;
    height: 285px;
  }
}