@mixin navbar-fonts{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: $color-darker-gray;
}

@mixin title-fonts{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: $color-darker-gray;
  line-height: 22px;

  @include tablet-screen {
    font-size: 16px;
  }
}

@mixin fonts-font-size {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $light-silvery-gray;
}

@mixin fonts-font-size-13 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: $color-darker-gray;
}

@mixin tablet-screen {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin desktop-screen {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin responsiveMixin {
  @media (max-width: 768px) {
    @content;
  }
}