$color-off-white: #FEFEFE;
$color-gray: #7C7C7C;
$color-black: black;
$color-white: #FFFFFF;
$color-light-gray: #F5F5F5;
$color-dark-gray: #5C5C5C;
$color-darker-gray: #4E4E4E;
$light-silvery-gray: #B9B9B9;
$color-steel-blue: #57A4A4;
$color-gainsboro: #e5e5e5;